<div id='home'>
  <div class='container'>
    <!--
      <div id='live-results'><table><tr><td class='placeholder'>De resultaten worden geladen</td></tr> </table></div>
      <div id='live-results'><table>
      <tr id='teams3'>
      <td>1. VTK</td>
      <td>2. HILOK</td>
      <td>3. VLK</td>
      <tr id='laps3'>
      <td>860 rondjes</td>
      <td>848 rondjes</td>
      <td>777 rondjes</td>
      <tr id='teams6'>
      <td>4. VEK</td>
      <td>5. Wetenschappen &amp; VLAK</td>
      <td>6. VRG</td>
      <tr id='laps6'>
      <td>713 rondjes</td>
      <td>700 rondjes</td>
      <td>682 rondjes</td>
      <tr id='teams6'>
      <td>7. Blandinia</td>
      <td>8. KVHV</td>
      <td>9. HK</td>
      </tr>
      <tr id='laps6'>
      <td>659 rondjes</td>
      <td>653 rondjes</td>
      <td>639 rondjes</td>
      </tr>
      <tr id='teams6'>
      <td>10. Politeia</td>
      <td>11. GFK/VGK/VBK/Dentalia</td>
      <td>12. VPPK</td>
      <tr id='laps6'>
      <td>632 rondjes</td>
      <td>617 rondjes</td>
      <td>577 rondjes</td>
      </tr>
      <tr id='teams6'>
      <td>13. Kofschipclubs</td>
      <td>14. SK</td>
      <td>15. Curatio</td>
      <tr id='laps6'>
      <td>525 rondjes</td>
      <td>519 rondjes</td>
      <td>231 rondjes</td>
      </tr>
      </table></div>
    -->

    <div class='eight columns justify'>
      <p>
        De <strong>Gentse 12urenloop</strong> is het sportieve hoogtepunt bij uitstek voor veel studenten!
        In deze 12 uur durende aflossingswedstrijd proberen de deelnemende kringen zoveel mogelijk rondjes te lopen op weg naar de overwinning.
        Dit alles vindt plaats in een ontspannen en studentikoze sfeer.
      </p>
    </div>

    <div class='eight columns justify'>
      <p>
        Daarnaast valt er op het <%= item[:location] %> ook heel wat anders te beleven, zowel voor de sporters als de supporters.
        De diverse studentenverenigingen richten hun eigen stek in en zorgen voor extra vertier.
        Om 21u wordt de strijdbijl begraven en barst het openluchtfeest los met opzwepende muziek.
      </p>
    </div>

    <div class='columns justify'>
      <p>
      Na een lange strijd werd de <%= item[:edition] %> editie van de 12urenloop gewonnen door <%= item[:first_place] %>, met een kleine voorsprong op <%= item[:second_place] %>.
      Het podium werd vervolledigd door <%= item[:third_place] %>.
      </p>
    </div>



    <div class='clear'></div>

    <div class='sponsors container'>
      <% data_from(:sponsors).each_slice(4) do |row| %>
      <%= render '/partials/sponsors.*', sponsors: row %>
      <% end %>
      <br />
      <%# <p>met medewerking van:</p> %>
      <%= render '/partials/sponsors.*', sponsors: data_from(:collaboration) %>
    </div>
  </div>
</div>
