<div id='wedstrijd'>
  <div class='container'>
    <h2 class='yellow'><span class='lines'>Wedstrijd</span></h2>

    <div class='eight columns white'>
      <p class="justify">
        De 12urenloop is een wedstrijd waarbij verschillende kringen het tegen elkaar
        opnemen in een 12 uur durende loopestafette. Na de loopwedstrijd volgt ook de
        apotheose ... de prijsuitreiking en een knallend feestje!
      </p>

      <div class="container" style="visibility: hidden">
        <% teams = data_from(:teams) %>
        <% offset = (teams.length/2.0).ceil %>
        <%= render '/partials/teams.*', t: 'Loopteams', offset: 0, teams: teams[0..offset-1] %>
        <%= render '/partials/teams.*', t: '&nbsp;', offset: offset, teams: teams[(teams.length/2.0).ceil..teams.length] %>
      </div>
    </div>

    <div class='eight columns'>
      <p><img src='images/wedstrijd/bekers.jpg' class='scale-with-grid' alt='' /></p>
    </div>
  </div>

  <div class="container">
    <p class='sicteen columns white justify'>
      Het digitale telsysteem van <a href='http://zeus.ugent.be/'>Zeus WPI</a> houdt de gelopen rondjes bij. De live score is tijdens de dag te volgen op <a href="https://live.12urenloop.be/">live.12urenloop.be</a>.
      In het laatste uur wordt het klassement echter bevroren zodat de finale nog spannender wordt.
    </p>
  </div>

  <div class='container'>
    <div class='sicteen columns white justify'>
    <p>
      In de loop van de dag zijn er ook de speciale rondes. Deze ludieke rondes gaan door tussen de loopwedstrijd
      zelf maar pas op, vaak is de uitvoering belangrijker dan de snelheid! De beste(n) van elke ronde worden beloond met leuke prijzen
      geschonken door een van onze sponsors.
      <br />
      Oefen dus zeker niet alleen op je looptechniek.
      Train je maag om een Julientje zo snel mogelijk te verorberen, wordt onherkenbaar en ga volledig op in het gevraagde thema met de origineelste aankleding.
    </p>
    </div>
    <br />
    <br />
    <div class='sixteen columns'>
    <% if item[:rounds] %>
      <% special_rounds = data_from(:special_rounds) %>
      <%= render '/partials/special_rounds.*', t: 'Speciale rondes', rounds: special_rounds[0..4] %>
      <%= render '/partials/special_rounds.*', t: 'Speciale rondes', rounds: special_rounds[5..12] %>
    <% else %>
      <p class='white justify'>
        <strong>Speciale Rondes <%= item[:year] %></strong> <br />
        De speciale rondes voor deze editie zijn nog niet gekend. Hou zeker deze website of de Facebook pagina in de gaten zodat je ze niet mist!
      </p>
    <% end %>
    </div>
  </div>

  <div class='sixteen columns action'>
    <p class='white'>Volgend jaar ook deelnemen met jouw vereniging?</p>
    <a href='#contact'><div class='button2'>Geef ons een seintje</div></a>
  </div>
</div>
